#container{
    box-sizing: border-box;
    height:170px;
    width:80%;
    margin:auto;
   
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}


#logo{
    display: flex;
    justify-content: space-between;

    
}

#logo>div{
  height:100px;
  width:300px;
    
    margin-top:8px;
    
}
          

#logo>:last-child{
    height:50px;
    width:30%;
    display: flex;
     font-family:sans-serif; 
    font-weight: lighter;
   justify-content: space-around;
    padding:15px 0px;
}
#selstate{
   border: none;
}
img{
    width:100%;
    height:100%;
}


#search{
    width: 81.7%;
   display: flex;
    justify-content:space-between;
       padding-left: 200px;
       
}
#search>div{
    display: flex;
    justify-content: space-around;
    margin-left: 51px;
    
}
  #searchbar{
      padding-bottom: 30pxpx;
  }
#mfglass{
    height: 41px;
    width: 40px;
    display: inline-block;
     vertical-align: center;
     vertical-align: -webkit-baseline-middle;
    background: #84C225;
    line-height: 15px;
   
}

#mfglass>i{
    display: inline-block;
    vertical-align: center;
    vertical-align: -webkit-baseline-middle;
    padding:13px 10px;
    color: white;
}

#search>div>input{
    
    width:600px;
    height:35px;
    padding-top: -50px;
    border-color:#84C225;
    margin-left: 100px;
  
}

#cartbox{
   margin: -55px -90px;
   font-family: sans-serif;
   display: flex;
    height:115px;
    cursor: pointer;
    font-weight: 500;
    align-items: center;
    text-align: center;
    background-color: rgb(230, 230, 230);
}
 

#cartbox>div{
   box-sizing: border-box;
height: 120px;
width: 100%;
  padding: 20px 20px;
  line-height:10px;
}




  
#catogory{
   display: flex;
   justify-content: left;
   width: 80%;
   margin: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;;
}



#catogory>div{
   display :flex;
   justify-content: space-around;
   box-sizing: border-box;
   height:40px;
    width:180px;
    padding:15px;    
}

#catogory>div>select{
   color: white;
   border: none;
   background: #84C225;
}
 
#catogory>:first-child{
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  padding: 8px 0px;
  color: aliceblue;
  width:350px;
   background: #84C225;
}  

#catogory>div:hover{
  font-family: 15px proximNovaA-Bold;
  background: #84C225;
  color: white;
}

*{
    font-family: sans-serif;
    color:#58595B;
}

#select-catogory{
    width:20px;
}
 
#select-catogory>option{
    width:800px;
}





